@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<div class="mt-3">
   
   <center> 
       <main>
        <h2>¡Bienvenido!</h2>
        <p>Has iniciado sesión satisfactoriamente</p>
       </main>
    </center>
</div>

@code {
  
}